<a href="https://colab.research.google.com/github/theinshort/deep_learning/blob/main/Python/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python For Deep Learning
In this tutorials we will be exploring some advance pythons concepts and techniques for deep learning implementations.
## Table of Contents

### Section 1: Advanced Python Techniques
1. List Comprehensions
2. Lambda Functions
3. Map, Filter, and Reduce Functions
4. Decorators
5. Context Managers
6. Generators
7. Multithreading and Multiprocessing
8. Working with Files (Reading and Writing)
9. Regular Expressions
10. Error Handling and Exceptions

### Section 2: Classes
11. Classes and Objects
12. Inheritance
13. Property Decorators
14. Python's Data Model & Magic Methods

## 1. List Comprehensions

List comprehensions provide a concise way to create lists. It consists of an expression followed by a `for` statement inside square brackets. Here's an example:

In [2]:
square = [x * x for x in range(12)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

This creates a list of squares of numbers from 0 to 9. You can also add an optional `if` clause to filter the items:

In [3]:
even_sq = [x * x for x in range(12) if x % 2 == 0]
even_sq

[0, 4, 16, 36, 64, 100]

This creates a list of squares of even numbers from 0 to 9.

Let's use list comprehensions to create a list of cubes of even and odd numbers from 1 to 30.

In [4]:
# Cube for even numbers

# range(x, y) function take values from starting values as x and one less (y-1) from final valueThe range() function returns a sequence of numbers,
# starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
# Syntax for range function => range(start, stop, step)
even_cube = [x*x*x for x in range(1, 31) if x % 2 == 0]
print(even_cube)
odd_cube = [x*x*x for x in range(1, 31) if x % 2 != 0]
print(odd_cube)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000]
[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859, 9261, 12167, 15625, 19683, 24389]

## 2. Lambda Functions
Lambda functions are small, anonymous functions that can be created with the `lambda` keyword. They are useful when you need a simple function for a short period of time and don't want to define a full function using `def`. Lambda functions can take any number of arguments but can only have one expression.

In [5]:
multiply = lambda x, y: x*y
print(multiply(10,3))

30

In [7]:
is_even_odd = lambda x: "Even" if x %2 == 0 else "Odd"

print(is_even_odd(23))
print(is_even_odd(24))

Odd
Even

Let's create some advance examples for lambda funtions in pythons that demonstrate their capabilities.

### Data Cleaning and Transformation

In [9]:
clean_data = lambda text: text.lower().strip().replace(',', '')

data = "HelLo worLd!, how,s are YOU doing?"
cleaned_data = clean_data(data)
print(cleaned_data)

hello world! hows are you doing?

This lambda function cleans text data by converting it to lowercase, removing leading/trailing whitespace, and replacing commas. It demonstrates how lambdas can be used in data pipelines for preprocessing.

### Nested Lambdas for complex Logic

In [14]:
calculate_shipping_cost = lambda distance, weight: \
  lambda discount: ((distance * 0.5) + (weight * 2) * (1 - discount/100))

discount = 20
distance, weight = 150, 5

shipping_cost = calculate_shipping_cost(distance, weight)(discount)
print(shipping_cost)

83.0

This example involves nested lambdas. The outer lambda defines the shipping cost calculation based on distance and weight. The inner lambda applies a discount, demonstrating how lambdas can encapsulate sub-functionality.

### Custom Sorting With Lambdas

In [15]:
data = [
    {"name": "Alice", "age": 23},
    {"name": "Bob", "age": 31},
    {"name": "Charlie", "age": 29}
]

sort_by_age = lambda data: sorted(data, key= lambda data: data["age"])
sort_by_name = lambda data: sorted(data, key= lambda data: data["name"])

print(sort_by_age(data))
print(sort_by_name(data))

[{'name': 'Alice', 'age': 23}, {'name': 'Charlie', 'age': 29}, {'name': 'Bob', 'age': 31}]
[{'name': 'Alice', 'age': 23}, {'name': 'Bob', 'age': 31}, {'name': 'Charlie', 'age': 29}]

This code shows how lambdas can be used for custom sorting. The lambda functions define the sorting criteria based on specific dictionary keys, allowing for flexible sorting logic.

### Dynamic function Generation

In [17]:

math_operation = lambda operator: lambda x, y: operator(x, y)

add = math_operation(lambda a, b: a + b)
multiply = math_operation(lambda a, b: a * b)

print(add(5, 3))
print(multiply(4, 2))

8
8

This example demonstrates how lambdas can be used to dynamically generate functions based on input. The `math_operation` lambda takes an operator and returns a new lambda that performs that operation on two numbers.

### Integration With External APIs

In [18]:
import requests as req

get_weather_data = lambda city: req.get(f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid=YOUR_API_KEY").json()
# Add your own API Key

weather_data = get_weather_data("London")

print(weather_data["main"]["temp"])

This example showcases how lambdas can be used to interact with external APIs. The get_weather_data lambda retrieves weather data for a given city using an API call.

Remember that while lambdas offer conciseness, complex logic within them can become harder to read and maintain. Use them judiciously for smaller, well-defined tasks within your code.

## Map, Filter, and Reduce Functions
`map`, `filter`, and `reduce` are higher-order functions that take a function and a sequence (e.g., list, tuple) as input and perform specific operations on them.

### Map

The `map()` function applies a given function to each item of a sequence and returns an iterator.

In [22]:
numbers = [x for x in range(20)]
squares = map(lambda x: x*x, numbers) # This will return a Map Object
sq_list = list(squares) # Converting Map Object To List
print(sq_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

#### Multiple Iterables and Custom Logic

In [23]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 29, 33]

# Creating a complex object using map function
users = map(
    lambda name, age: {"name": name, "age": age, "message": f"Hello! My name is {name} and i am {age} years old"},
    names,
    ages
)

for user in users:
  print(user)

{'name': 'Alice', 'age': 25, 'message': 'Hello! My name is Alice and i am 25 years old'}
{'name': 'Bob', 'age': 29, 'message': 'Hello! My name is Bob and i am 29 years old'}
{'name': 'Charlie', 'age': 33, 'message': 'Hello! My name is Charlie and i am 33 years old'}

This example demonstrates using map with multiple iterbles(names,ages) and a custom lambda function to create a list of complex object Users with various attributes.

#### Conditional Operation within Lambdas

In [24]:
data = [2, 7, -4, 5, 6, -9]

# Applying different operations based on signs using a lambdas
transformed_data = map(
    lambda x: x * 2 if x > 0 else x ** 3, data
)

transformed_data_list = list(transformed_data)
print(transformed_data_list)

[4, 14, -64, 10, 12, -729]

This example shows how how lambda within map can perform conditional operation on each element based on specific criteria.

#### Nested Structure and Data Aggregation

In [25]:
products = [
    {"name": "Shirt", "price": 29, "quantity": 15},
    {"name": "Pants", "price": 25, "quantity": 25},
    {"name": "Blazzers", "price": 74, "quantity": 20},
    {"name": "Hats", "price": 15, "quantity": 10}
]

# Calculate total price for each products using nested lambdas
total_price = map(
    lambda product: product["price"] * product["quantity"],
    products
)

# Calculating total Sales from all products using sum with map
total_sales = sum(total_price)
print(total_sales)

2690

This example showcases nested lambdas and combines map with sum to calculate total revenue by first getting the total price for each product (using nested lambdas) and then summing them up.

#### Intergration With External Libraries

In [26]:
import math

numbers = [2, 4, 9, 11, 23, 36]

# Square roots of numbers using map and math.sqrt() function
squared_root = map(math.sqrt, numbers)
print(list(squared_root))

[1.4142135623730951, 2.0, 3.0, 3.3166247903554, 4.795831523312719, 6.0]

This example demonstrates using map with external libraries (like math here) to perform more complex operations on each element.


#### Data Cleaning and Preprocessing

In [29]:
text_data = ["  apple:, banaAna", " ORANGE: pears !  ", "? watermelon: dates   "]

cleaned_data = map(
    lambda text: text.lower().strip().replace("!", "").replace("?","").replace(",", ""),
    text_data
)

print(list(cleaned_data))

['apple: banaana', 'orange: pears ', ' watermelon: dates']

This example demonstrates how map and lambdas can be used for data cleaning and preprocessing tasks, such as removing punctuation, converting to lowercase, and splitting into words.

**Remember** that while map offers concise iteration and transformation, complex logic within it can affect readability. Use it for well-defined, element-wise operations and consider alternative approaches for intricate processing.

### Filters
The `filter()` function filters the items of a sequence based on a function that returns a boolean value.

In [32]:
numbers = [x for x in range(21)]

even_numbers = filter(lambda x: x % 2 == 0, numbers)
# this will return a Filter object which needs to be converted to a list
print(list(even_numbers))

odd_numbers = filter(lambda x: x % 2 != 0, numbers)

print(list(odd_numbers))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Nested Filtering with Multiple Conditions:

In [33]:
data = [
    {"name": "Alice", "age": 30, "city": "New York"},
    {"name": "Bob", "age": 25, "city": "London"},
    {"name": "Charlie", "age": 35, "city": "Paris"},
    {"name": "David", "age": 22, "city": "Berlin"},
]

# Filter adults living in Europe using a custom function and multiple condition
filtered_data = filter(
    lambda user: user["age"] >= 18 and user["city"] in ["Paris", "London"],
    data
)

usernames = map(
    lambda user: user["name"], filtered_data
)

print(list(usernames))

['Bob', 'Charlie']

This example combines filter with a custom function and checks age and city simultaneously.