<a href="https://colab.research.google.com/github/theinshort/deep_learning/blob/main/Python/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python For Deep Learning
In this tutorials we will be exploring some advance pythons concepts and techniques for deep learning implementations.
## Table of Contents

### Section 1: Advanced Python Techniques
1. List Comprehensions
2. Lambda Functions
3. Map, Filter, and Reduce Functions
4. Decorators
5. Context Managers
6. Generators
7. Multithreading and Multiprocessing
8. Working with Files (Reading and Writing)
9. Regular Expressions
10. Error Handling and Exceptions

### Section 2: Classes
11. Classes and Objects
12. Inheritance
13. Property Decorators
14. Python's Data Model & Magic Methods

## 1. List Comprehensions

List comprehensions provide a concise way to create lists. It consists of an expression followed by a `for` statement inside square brackets. Here's an example:

In [ ]:
square = [x * x for x in range(12)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

This creates a list of squares of numbers from 0 to 9. You can also add an optional `if` clause to filter the items:

In [ ]:
even_sq = [x * x for x in range(12) if x % 2 == 0]
even_sq

[0, 4, 16, 36, 64, 100]

This creates a list of squares of even numbers from 0 to 9.

Let's use list comprehensions to create a list of cubes of even and odd numbers from 1 to 30.

In [ ]:
# Cube for even numbers

# range(x, y) function take values from starting values as x and one less (y-1) from final valueThe range() function returns a sequence of numbers,
# starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
# Syntax for range function => range(start, stop, step)
even_cube = [x*x*x for x in range(1, 31) if x % 2 == 0]
print(even_cube)
odd_cube = [x*x*x for x in range(1, 31) if x % 2 != 0]
print(odd_cube)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000]
[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859, 9261, 12167, 15625, 19683, 24389]

## 2. Lambda Functions
Lambda functions are small, anonymous functions that can be created with the `lambda` keyword. They are useful when you need a simple function for a short period of time and don't want to define a full function using `def`. Lambda functions can take any number of arguments but can only have one expression.

In [ ]:
multiply = lambda x, y: x*y
print(multiply(10,3))

30

In [ ]:
is_even_odd = lambda x: "Even" if x %2 == 0 else "Odd"

print(is_even_odd(23))
print(is_even_odd(24))

Odd
Even

Let's create some advance examples for lambda funtions in pythons that demonstrate their capabilities.

### Data Cleaning and Transformation

In [ ]:
clean_data = lambda text: text.lower().strip().replace(',', '')

data = "HelLo worLd!, how,s are YOU doing?"
cleaned_data = clean_data(data)
print(cleaned_data)

hello world! hows are you doing?

This lambda function cleans text data by converting it to lowercase, removing leading/trailing whitespace, and replacing commas. It demonstrates how lambdas can be used in data pipelines for preprocessing.

### Nested Lambdas for complex Logic

In [ ]:
calculate_shipping_cost = lambda distance, weight: \
  lambda discount: ((distance * 0.5) + (weight * 2) * (1 - discount/100))

discount = 20
distance, weight = 150, 5

shipping_cost = calculate_shipping_cost(distance, weight)(discount)
print(shipping_cost)

83.0

This example involves nested lambdas. The outer lambda defines the shipping cost calculation based on distance and weight. The inner lambda applies a discount, demonstrating how lambdas can encapsulate sub-functionality.

### Custom Sorting With Lambdas

In [ ]:
data = [
    {"name": "Alice", "age": 23},
    {"name": "Bob", "age": 31},
    {"name": "Charlie", "age": 29}
]

sort_by_age = lambda data: sorted(data, key= lambda data: data["age"])
sort_by_name = lambda data: sorted(data, key= lambda data: data["name"])

print(sort_by_age(data))
print(sort_by_name(data))

[{'name': 'Alice', 'age': 23}, {'name': 'Charlie', 'age': 29}, {'name': 'Bob', 'age': 31}]
[{'name': 'Alice', 'age': 23}, {'name': 'Bob', 'age': 31}, {'name': 'Charlie', 'age': 29}]

This code shows how lambdas can be used for custom sorting. The lambda functions define the sorting criteria based on specific dictionary keys, allowing for flexible sorting logic.

### Dynamic function Generation

In [ ]:

math_operation = lambda operator: lambda x, y: operator(x, y)

add = math_operation(lambda a, b: a + b)
multiply = math_operation(lambda a, b: a * b)

print(add(5, 3))
print(multiply(4, 2))

8
8

This example demonstrates how lambdas can be used to dynamically generate functions based on input. The `math_operation` lambda takes an operator and returns a new lambda that performs that operation on two numbers.

### Integration With External APIs

In [ ]:
import requests as req

get_weather_data = lambda city: req.get(f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid=YOUR_API_KEY").json()
# Add your own API Key

weather_data = get_weather_data("London")

print(weather_data["main"]["temp"])

This example showcases how lambdas can be used to interact with external APIs. The get_weather_data lambda retrieves weather data for a given city using an API call.

Remember that while lambdas offer conciseness, complex logic within them can become harder to read and maintain. Use them judiciously for smaller, well-defined tasks within your code.

## Map, Filter, and Reduce Functions
`map`, `filter`, and `reduce` are higher-order functions that take a function and a sequence (e.g., list, tuple) as input and perform specific operations on them.

### Map

The `map()` function applies a given function to each item of a sequence and returns an iterator.

In [ ]:
numbers = [x for x in range(20)]
squares = map(lambda x: x*x, numbers) # This will return a Map Object
sq_list = list(squares) # Converting Map Object To List
print(sq_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

#### Multiple Iterables and Custom Logic

In [ ]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 29, 33]

# Creating a complex object using map function
users = map(
    lambda name, age: {"name": name, "age": age, "message": f"Hello! My name is {name} and i am {age} years old"},
    names,
    ages
)

for user in users:
  print(user)

{'name': 'Alice', 'age': 25, 'message': 'Hello! My name is Alice and i am 25 years old'}
{'name': 'Bob', 'age': 29, 'message': 'Hello! My name is Bob and i am 29 years old'}
{'name': 'Charlie', 'age': 33, 'message': 'Hello! My name is Charlie and i am 33 years old'}

This example demonstrates using map with multiple iterbles(names,ages) and a custom lambda function to create a list of complex object Users with various attributes.

#### Conditional Operation within Lambdas

In [ ]:
data = [2, 7, -4, 5, 6, -9]

# Applying different operations based on signs using a lambdas
transformed_data = map(
    lambda x: x * 2 if x > 0 else x ** 3, data
)

transformed_data_list = list(transformed_data)
print(transformed_data_list)

[4, 14, -64, 10, 12, -729]

This example shows how how lambda within map can perform conditional operation on each element based on specific criteria.

#### Nested Structure and Data Aggregation

In [ ]:
products = [
    {"name": "Shirt", "price": 29, "quantity": 15},
    {"name": "Pants", "price": 25, "quantity": 25},
    {"name": "Blazzers", "price": 74, "quantity": 20},
    {"name": "Hats", "price": 15, "quantity": 10}
]

# Calculate total price for each products using nested lambdas
total_price = map(
    lambda product: product["price"] * product["quantity"],
    products
)

# Calculating total Sales from all products using sum with map
total_sales = sum(total_price)
print(total_sales)

2690

This example showcases nested lambdas and combines map with sum to calculate total revenue by first getting the total price for each product (using nested lambdas) and then summing them up.

#### Intergration With External Libraries

In [ ]:
import math

numbers = [2, 4, 9, 11, 23, 36]

# Square roots of numbers using map and math.sqrt() function
squared_root = map(math.sqrt, numbers)
print(list(squared_root))

[1.4142135623730951, 2.0, 3.0, 3.3166247903554, 4.795831523312719, 6.0]

This example demonstrates using map with external libraries (like math here) to perform more complex operations on each element.


#### Data Cleaning and Preprocessing

In [ ]:
text_data = ["  apple:, banaAna", " ORANGE: pears !  ", "? watermelon: dates   "]

cleaned_data = map(
    lambda text: text.lower().strip().replace("!", "").replace("?","").replace(",", ""),
    text_data
)

print(list(cleaned_data))

['apple: banaana', 'orange: pears ', ' watermelon: dates']

This example demonstrates how map and lambdas can be used for data cleaning and preprocessing tasks, such as removing punctuation, converting to lowercase, and splitting into words.

**Remember** that while map offers concise iteration and transformation, complex logic within it can affect readability. Use it for well-defined, element-wise operations and consider alternative approaches for intricate processing.

### Filters
The `filter()` function filters the items of a sequence based on a function that returns a boolean value.

In [ ]:
numbers = [x for x in range(21)]

even_numbers = filter(lambda x: x % 2 == 0, numbers)
# this will return a Filter object which needs to be converted to a list
print(list(even_numbers))

odd_numbers = filter(lambda x: x % 2 != 0, numbers)

print(list(odd_numbers))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Nested Filtering with Multiple Conditions:

In [ ]:
data = [
    {"name": "Alice", "age": 30, "city": "New York"},
    {"name": "Bob", "age": 25, "city": "London"},
    {"name": "Charlie", "age": 35, "city": "Paris"},
    {"name": "David", "age": 22, "city": "Berlin"},
]

# Filter adults living in Europe using a custom function and multiple condition
filtered_data = filter(
    lambda user: user["age"] >= 18 and user["city"] in ["Paris", "London"],
    data
)

usernames = map(
    lambda user: user["name"], filtered_data
)

print(list(usernames))

['Bob', 'Charlie']

This example combines filter with a custom function and checks age and city simultaneously.

#### Combining with other Lambda Functions

In [ ]:
data = [x for x in range(1, 20)]

# Filter even numbers and square themusing nested lambda
filtered_squared = filter(
    lambda x: x % 2 == 0, map(lambda x: x * x, data)
)

print(list(filtered_squared))

[4, 16, 36, 64, 100, 144, 196, 256, 324]

This example applies filter on the result of another lambda function (map for squaring), demonstrating chained operations.

#### Dynamic Predictive Generation

In [ ]:
def create_age_filter(min_age):
  return lambda data: data["age"] >= min_age

data = [
    {"name": "Alice", "age": 30, "city": "New York"},
    {"name": "Bob", "age": 25, "city": "London"},
    {"name": "Charlie", "age": 35, "city": "Paris"},
    {"name": "David", "age": 17, "city": "Berlin"},
]

# Filter adults and youth basedon dynamic age ranges()
adults = filter(create_age_filter(18), data)
youth = filter(create_age_filter(13), data)

# Print names of each
print(list(map(lambda user: user["name"], adults)))
print(list(map(lambda user: user["name"], youth)))

['Alice', 'Bob', 'Charlie']
['Alice', 'Bob', 'Charlie', 'David']

This example showcases generating custom filtering logic based on external input (min_age here).

#### Custom Object Filtering

In [9]:
class Product:
    def __init__(self, name, price, category):
        self.name = name
        self.price = price
        self.category = category

products = [
    Product("Shirt", 20, "Clothing"),
    Product("Pants", 30, "Clothing"),
    Product("Laptop", 800, "Electronics"),
    Product("Headphones", 150, "Electronics"),
]

# Filter electronics with price below 200
filtered_electronics = filter(
    lambda product: product.category == "Electronics" and product.price < 200, products
)

# Print product names
print(list(map(lambda product: product.name, filtered_electronics)))  # Output: ['Headphones']

['Headphones']

This example demonstrates filtering custom objects based on their attributes.

#### Integration With External Data

In [41]:
import requests

def filter_users_by_location(city):
  response = requests.get(f"https://jsonplaceholder.typicode.com/users?{city}")
  data = response.json()
  users = data[1:50]
  # print(users[0]["address"]["city"])
  return filter(lambda user: user if user["address"]["city"] == city else None, users)

# Filter users from a specific city using an API call
filtered_users = filter_users_by_location("Wisokyburgh")
# print(list(filtered_users))
# Print usernames of filtered data
usernames = list(map(lambda user: user, filtered_users))
print(usernames)

[{'id': 2, 'name': 'Ervin Howell', 'username': 'Antonette', 'email': 'Shanna@melissa.tv', 'address': {'street': 'Victor Plains', 'suite': 'Suite 879', 'city': 'Wisokyburgh', 'zipcode': '90566-7771', 'geo': {'lat': '-43.9509', 'lng': '-34.4618'}}, 'phone': '010-692-6593 x09125', 'website': 'anastasia.net', 'company': {'name': 'Deckow-Crist', 'catchPhrase': 'Proactive didactic contingency', 'bs': 'synergize scalable supply-chains'}}]

This example combines filter with data retrieved from an external API, showcasing real-world application.

Remember, while filter offers powerful filtering capabilities, overly complex logic within it can affect readability. Use it judiciously for well-defined filtering criteria and consider alternative approaches for intricate processing.

### Reduce

The `reduce()` function reduces a sequence to a single value by applying a given function cumulatively to the items, from left to right. The `reduce()` function is available in the `functools` module.

In [43]:
from functools import reduce

numbers = [x for x in range(1,10)]

product = reduce(lambda x, y: x * y, numbers)
print(product)

362880

#### Custom Aggregation For Multiple Initial Values

In [44]:
data = [
    {"age": 25, "salary": 80000},
    {"age": 30, "salary": 75000},
    {"age": 28, "salary": 90000}
    ]
def accumulate_stats(stats, person):
  stats["total_age"] += person["age"]
  stats["total_salary"] += person["salary"]
  stats["count"] += 1
  return stats

initial_stats = {"total_age": 0, "total_salary": 0, "count": 0}
aggregated_stats = reduce(accumulate_stats, data, initial_stats)

print(aggregated_stats)

{'total_age': 83, 'total_salary': 245000, 'count': 3}

This example uses reduce with a custom function to accumulate various statistics (total age, total salary, count) on a list of persons, demonstrating more complex accumulation than adding simple numbers.

#### Dynamic Function Generation For Conditional Accumulation

In [45]:
def create_accumulator(aggregation_type):
  if aggregation_type == "Max":
    return lambda x, y: max(x, y)
  elif aggregation_type == "Min":
    return lambda x, y: min(x, y)

data = [4, 5, 2, 8, 7, 6, 9, 4]

max_value = reduce(create_accumulator("Max"), data)
min_value = reduce(create_accumulator("Min"), data)

print(f"Max Value: {max_value} and Min Value: {min_value}")

Max Value: 9 and Min Value: 2

This example showcases generating custom accumulation functions based on input (aggregation type) using reduce, enabling flexible data processing on different criteria.

#### Nested Reduction For Hierarchical Data

In [49]:
data = [
    {"name": "Alice", "grades": [85, 90, 78]},
    {"name": "Bob", "grades": [92, 88, 95]},
    {"name": "Charlie", "grades": [75, 82, 87]},
]

def calculate_class_average(student):
  average_grades = reduce(lambda acc, grade: acc + grade, student["grades"], 0) / len(student["grades"])
  return {"name": student["name"], "average_grade": average_grades}

class_average = list(map(calculate_class_average, data))
overall_average = reduce(lambda acc, student: acc + student["average_grade"], class_average, 0) / len(class_average)

print(class_average)
print(overall_average)

[{'name': 'Alice', 'average_grade': 84.33333333333333}, {'name': 'Bob', 'average_grade': 91.66666666666667}, {'name': 'Charlie', 'average_grade': 81.33333333333333}]
85.77777777777777

This example demonstrates using nested reduce to calculate average grades for individual students (inner reduction) and then calculate the overall class average (outer reduction), showing its application with hierarchical data.

#### Intergation With External Libraries

In [51]:
import math

data = [ x for x in range(5, 50, 5)]

def squared_sum(x, y):
  return x + math.pow(y, 2)

squared_sum_of_data = reduce(squared_sum, data, 0)

print(squared_sum_of_data)

7125.0

This example combines reduce with the math library to perform more complex calculations (squaring a number) within the accumulation process, showcasing its power with external libraries.

#### Data Cleaning and Feature Engineering

In [61]:
text_data = ["  apple, banana ! ", " orange ,   pear ?   "]

def clean_and_tokenize(tokens, text):
    cleaned_text = text.lower().strip().replace(",", "").replace("!", "").replace("?", "").split()
    tokens.extend(cleaned_text)
    return tokens

tokens = []
cleaned_tokens = reduce(clean_and_tokenize, text_data, tokens)

print(cleaned_tokens)  # Output: ['apple', 'banana', 'orange', 'pear']

['apple', 'banana', 'orange', 'pear']

This example uses reduce with a custom function to clean and tokenize text data, demonstrating its application in data preprocessing tasks.

Remember that while reduce offers concise data reduction

## Decorators

Decorators are a way to modify the behavior of functions or classes. They allow you to wrap another function to extend its behavior without modifying its code.

Here's an example of a simple decorator that measures the execution time of a function:

In [62]:
import time

def timing_decorator(func):
  def wrapper(*args, **kwargs):
    start_time = time.time()
    result = func(*args, **kwargs)
    end_time = time.time()
    print(f"{func.__name__} took {end_time - start_time: .5f} second to execute")
    return result

  return wrapper

@timing_decorator
def slow_function():
  time.sleep(2)

slow_function()

slow_function took  2.00197 second to execute

The provided code implements a decorator function called timing_decorator, which measures the execution time of a decorated function by recording the start time before its execution and the end time afterward using the time.time() function. This decorator returns a wrapper function that calculates the time taken for the decorated function's execution, prints the execution time with five decimal places, and then returns the result of the decorated function. Finally, the @timing_decorator decorator is applied to the slow_function, causing it to be wrapped by the timing_decorator function. When slow_function is invoked, the execution time is measured, printed, and displayed with precision.